Django>=5.2,<5.3
langchain>=0.1.14
langchain_community>=0.0.21
langchain_ollama>=0.0.6
faiss-cpu>=1.7.4
langdetect>=1.0.9
duckduckgo-search>=4.4
requests>=2.31.0
tensorflow
numpy
pandas
scikit-learn
gunicorn
psycopg2  # If using PostgreSQL
django-environ
redis
celery
pytest  # For testing
